body{
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/public/alt-f4_background.png");
}

h1{
    color: white;
    text-align: center;
    font-size: 40px;
}

span {
    display: flex;
    justify-content: center;
    gap: 5%;
  }

.homePageButton{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 30%;
    height: 115px;

    font-size: 30px;
    border-radius: 15px;
    border-color: red;
    border-width: 5px;

    color: white;
    background-color: black;
}

.homePageButton:hover{
    color: red;
}

.link{
    color: white;
    text-decoration: none;
}